updated_n8n
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1880
      ],
      "id": "441da2f5-eb47-492f-8e20-c97013b5ae01",
      "name": "Telegram Trigger",
      "webhookId": "f8a3c7a9-b45a-404b-a742-ca3b58790eb2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://resistant-tales-pulled-award.trycloudflare.com/getIntent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -980,
        1880
      ],
      "id": "a7bc9fc9-7f16-4d24-b4b5-e4acbb0ccb60",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://katie-predictions-spotlight-below.trycloudflare.com/memory/{{ $json.intent }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        2060
      ],
      "id": "a6b40566-26f1-40e6-a875-58b82dea1e4a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        2060
      ],
      "id": "d08e714d-deeb-4aee-84a8-e83ee4814b37",
      "name": "Telegram",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3eeca3da-7157-403b-bc94-b52228cf937b",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "save-goalorhabbit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a6bee88d-187e-438e-8b44-029ed1f4003f",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "task-intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -760,
        1880
      ],
      "id": "56a58ad1-4489-4e61-908d-daad7101cbcc",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da2066b0-0f4f-4e13-b00d-fee2206bd05e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "habit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        1740
      ],
      "id": "33cccc91-35ca-4a32-ac50-66e9b2173539",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://katie-predictions-spotlight-below.trycloudflare.com/memory/save-goalorhabbit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1560
      ],
      "id": "028a4e59-5007-4873-a79c-76b52aa11a6e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://katie-predictions-spotlight-below.trycloudflare.com/memory/save-goalorhabbit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        1820
      ],
      "id": "f21a5c88-1de8-4713-a8f9-3b0904ba532a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c983a6c-4f08-4056-a2af-04ffe39033c4",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "task-intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        1540
      ],
      "id": "e79f2bc1-8816-42f2-b41e-8d1d5a3c2231",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://katie-predictions-spotlight-below.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        1360
      ],
      "id": "96d09bce-4117-49ad-bd9e-ad21202540f1",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{ $json.result.date }}",
        "end": "={{ $json.result.date }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "summary": "={{ $json.result.agenda }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -60,
        1360
      ],
      "id": "89b9373d-a0da-467f-8ad0-0fe69426e72e",
      "name": "Google Calendar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://katie-predictions-spotlight-below.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        1820
      ],
      "id": "4c48b446-b726-44d3-9ff6-ba128163dd88",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{\n  new Date(\n    $json.result.date.split('/').reverse().join('-')\n  ).toISOString()\n}}",
        "end": "={{ $json.result.date.split('/').reverse().join('-') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "summary": "={{ $json.result.agenda }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        640,
        1800
      ],
      "id": "f9a77c85-4480-447e-9bae-3b1cbd92edb5",
      "name": "Google Calendar1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://biology-suggest-bay-sounds.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        1540
      ],
      "id": "7f97c2f7-340e-4908-b5b1-ccd1350c4298",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{ $json.result.date }}",
        "end": "={{ $json.result.date }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "repeatFrecuency": "={{ $json.result.reminder_frequency }}",
          "summary": "={{ $json.result.task }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        540,
        1560
      ],
      "id": "c537df0b-ad03-49b3-b2f4-bfbf53869d2c",
      "name": "Google Calendar2"
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=Sure, consider it done👍👍",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        300,
        1320
      ],
      "id": "a98a5d25-017a-46ee-ba51-8b09bbb269d5",
      "name": "Telegram1",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425"
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=reminder added to calender",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        1580
      ],
      "id": "b0118b4d-7ac8-44e1-8171-6594d676c170",
      "name": "Telegram2",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425"
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=Habit added to calendar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        1760
      ],
      "id": "14630ce8-726c-4922-8d1e-fceb8a4763c3",
      "name": "Telegram3",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        200
      ],
      "id": "dd2fe75e-ea09-4cbe-8205-1a461357c419",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -800,
        200
      ],
      "id": "3c4bbe0b-deda-477a-aba6-5667c0c375a5",
      "name": "Google Calendar3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "nmf9fIVJOgUtfMxc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=Your Today's Schedule is : \n📌 *{{$json.summary}}*\n📝 {{$json.description}}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        740,
        0
      ],
      "id": "815ae341-cf00-4169-bc55-43d2fcd5aa16",
      "name": "Telegram4",
      "webhookId": "643b37b7-b95b-4cc6-982c-e426d9e4e7e2",
      "credentials": {
        "telegramApi": {
          "id": "eCyE1euYJ2s8ggZX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -420,
        200
      ],
      "id": "e95b26b5-8dbf-4365-895b-d5390fb6a414",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "id": "59d9bfb8-1b3a-4b1d-9a72-85f3bea4982e"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "summary"
            },
            {
              "fieldToAggregate": "description"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d904f2c9-2a92-46c5-8fca-dcc0d2bae33c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst summaries = input.summary;\nconst descriptions = input.description;\n\nconst output = [];\n\nfor (let i = 0; i < summaries.length; i++) {\n  output.push({\n    json: {\n      summary: summaries[i],\n      description: descriptions[i]\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "8edee4f3-1672-4837-b33b-4281d0bc655e",
      "name": "Code"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "0653f9ad6e4e2a80850b3ee9d155da7e49a68c6803c3a14f93c8f5e136ea8c08"
  }
}