updated_n8n
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        520
      ],
      "id": "1bfe9ca9-33ed-42b7-a89a-43de8062afcf",
      "name": "Telegram Trigger",
      "webhookId": "f8a3c7a9-b45a-404b-a742-ca3b58790eb2",
      "credentials": {
        "telegramApi": {
          "id": "ouUpxikk1dDL7OrL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slot-markets-letting-tribute.trycloudflare.com/getIntent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        520
      ],
      "id": "b015b4b9-aa42-4746-bc89-4906f02b0b92",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dem-distributed-witch-livecam.trycloudflare.com/memory/{{ $json.intent }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        700
      ],
      "id": "9cead444-31ce-48bf-a8e7-75cd87247a74",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        700
      ],
      "id": "5755df28-2d37-4930-92cb-bf64e99baf8a",
      "name": "Telegram",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425",
      "credentials": {
        "telegramApi": {
          "id": "ouUpxikk1dDL7OrL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3eeca3da-7157-403b-bc94-b52228cf937b",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "save-goalorhabbit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a6bee88d-187e-438e-8b44-029ed1f4003f",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "task-intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        520
      ],
      "id": "994b948f-522f-4edf-8ca4-7e1afc4d1cfd",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da2066b0-0f4f-4e13-b00d-fee2206bd05e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "habit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        380
      ],
      "id": "a03df79e-07c8-4e87-b7c9-8cf29dfe468b",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dem-distributed-witch-livecam.trycloudflare.com/memory/save-goalorhabbit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ],
      "id": "60165f2b-02b0-49e7-af52-bf57184d78ff",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dem-distributed-witch-livecam.trycloudflare.com/memory/save-goalorhabbit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        460
      ],
      "id": "4b13ae55-40ea-47b3-b329-e12c01ff1c27",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c983a6c-4f08-4056-a2af-04ffe39033c4",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "task-intent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        180
      ],
      "id": "a58e77d4-1f3b-4c55-aa93-942cad7e294b",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dem-distributed-witch-livecam.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "b3b039ed-7609-4ecf-bfb4-56caf6e51e56",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{\n  new Date(\n    $json.result.date.split('/').reverse().join('-') + ' ' + $json.result.startTime\n  ).toISOString()\n}}",
        "end": "={{ $json.result.date.split('/').reverse().join('-') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "summary": "={{ $json.result.agenda }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        300,
        0
      ],
      "id": "1e1853c6-ab26-4d81-9331-efbb02eb4efd",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1nXbezjO2ulwjjHI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dem-distributed-witch-livecam.trycloudflare.comhttps://ken-forbes-valley-farm.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        460
      ],
      "id": "6d1f2de8-338e-45ba-9d99-8df837869de7",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{\n  new Date(\n    $json.result.date.split('/').reverse().join('-')\n  ).toISOString()\n}}",
        "end": "={{ $json.result.date.split('/').reverse().join('-') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "summary": "={{ $json.result.agenda }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1000,
        440
      ],
      "id": "b9f2bb7c-84e5-405b-952e-2ab446a21e71",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1nXbezjO2ulwjjHI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dem-distributed-witch-livecam.trycloudflare.com/getTask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        180
      ],
      "id": "18a21786-bbb8-449d-b170-7402802aabb2",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sagaradmane6@gmail.com",
          "mode": "list",
          "cachedResultName": "sagaradmane6@gmail.com"
        },
        "start": "={{ $json.result.date }}",
        "end": "={{ $json.result.date }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [],
          "description": "={{ $json.result.task }}",
          "repeatFrecuency": "={{ $json.result.reminder_frequency }}",
          "summary": "={{ $json.result.task }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        900,
        200
      ],
      "id": "c4c9882a-a11d-42a2-917d-7cd483ea16cb",
      "name": "Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1nXbezjO2ulwjjHI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=Sure, consider it done👍👍",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -40
      ],
      "id": "d315344c-ddd9-447a-9a2f-36c804246b0a",
      "name": "Telegram1",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425",
      "credentials": {
        "telegramApi": {
          "id": "ouUpxikk1dDL7OrL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=reminder added to calender",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1260,
        220
      ],
      "id": "2faeb601-d860-43f9-8531-ace4f52f90d1",
      "name": "Telegram2",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425",
      "credentials": {
        "telegramApi": {
          "id": "ouUpxikk1dDL7OrL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1180173785",
        "text": "=Habit added to calendar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1240,
        400
      ],
      "id": "f3623861-c53d-481c-ac34-a95bbb79eccc",
      "name": "Telegram3",
      "webhookId": "71062f63-81e4-4cc6-990a-8d8dc5662425",
      "credentials": {
        "telegramApi": {
          "id": "ouUpxikk1dDL7OrL",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Google Calendar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0653f9ad6e4e2a80850b3ee9d155da7e49a68c6803c3a14f93c8f5e136ea8c08"
  }
}